* {
  box-sizing: border-box;
}

.app header h1 {
  font-size: 20px;
  text-align: center;
}

.app header h1 a {
  border-bottom: 1px solid #333;
  color: #333;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
}

.app .container {
  max-width: 1200px;
  margin: auto;
}

.app section .input {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.app section .input>div {
  width: 100%;
  margin-right: 10px;
}

.app section .input>div:last-child {
  margin-right: 0;
}

.app section .input .ace_editor {
  width: 100% !important;
  height: 300px !important;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.app section .button {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.app section .button button {
  padding: 10px 30px;
  background: #ccc;
  border: 1px solid #666;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #ccc;
}

.app section .button button:hover,
.app section .button button:focus,
.app section .button button:active {
  background: #aaa;
  outline: none;
}